name: CI

on:
  push:
    branches-ignore:
      - 'ci/**'
      - '!ci/gha**'
      - 'dependabot/**'
  pull_request:
    branches:
      - 'master'

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  gcc:
    strategy:
      fail-fast: false
      matrix:
        include:
        - version: 15
          distro: ubuntu-24.04
        - version: 15
          distro: ubuntu-24.04
          arch_flags: -ffast-math
        - version: 15
          distro: ubuntu-24.04-arm
        - version: 15
          distro: ubuntu-24.04-arm
          plain: true
    runs-on: ${{ matrix.distro }}
    env:
      CFLAGS: ${{ matrix.arch_flags }} ${{ case(
        matrix.plain == true, '-Wall -Wextra -Werror',
        '-march=native -Wall -Wextra -Werror') }}
      CXXFLAGS: ${{ matrix.arch_flags }} ${{ case(
        matrix.plain == true, '-Wall -Wextra -Werror',
        '-march=native -Wall -Wextra -Werror') }}
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - id: cpu
      name: CPU Information
      run: |
        cat /proc/cpuinfo
    - name: Install APT Dependencies
      run: |
        sudo add-apt-repository ppa:stephanosio/ccache
        sudo add-apt-repository ppa:daawesomep/toolchain-backports-noble
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa
        sudo add-apt-repository ppa:cppiber/build-depends
        sudo apt-get -y install --no-install-recommends gcovr pipx ninja-build \
          gcc-${{ matrix.version }} g++-${{ matrix.version }} ccache
        sudo apt-get -y purge g++ gcc
        pipx install meson==0.55.1
    - if: ${{ matrix.version == '15' }}
      run: sudo apt-get satisfy -y 'binutils (>= 2.45)'
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ matrix.version }}-${{ matrix.distro }}-${{ matrix.arch_flags }}
        verbose: 2
    - name: add ccache to the build path
      run: |
        export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
        sudo ln -s /usr/bin/gcc-${{ matrix.version }} /usr/bin/gcc
        sudo ln -s /usr/bin/g++-${{ matrix.version }} /usr/bin/g++
        sudo ln -s /usr/bin/gcov-${{ matrix.version }} /usr/bin/gcov
    - name: Configure
      run: meson setup build
    - name: Build
      run: meson compile -C build --verbose
    - name: Test
      run: |
        # shellcheck disable=SC2046
        meson test -C build --print-errorlogs $(meson test -C build --list | grep -v emul)

  clang:
    strategy:
      fail-fast: false
      matrix:
        include:
        - version: "22"
          distro: ubuntu-24.04
          arch_flags: -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword
        - version: "22"
          distro: ubuntu-24.04
          arch_flags: -ffast-math -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword -Wno-nan-infinity-disabled
        - version: "22"
          distro: ubuntu-24.04
          arch_flags: -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword -O2
        - version: "22"
          distro: ubuntu-24.04-arm
          arch_flags: -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword
        - version: "22"
          distro: ubuntu-24.04-arm
          plain: true
          arch_flags: -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword
        - version: "22"
          distro: ubuntu-24.04-arm
          arch_flags: -ffast-math -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword -Wno-nan-infinity-disabled
        - version: "22"
          distro: ubuntu-24.04-arm
          arch_flags: -Wno-unsafe-buffer-usage -Wno-switch-default -Wno-c++-keyword -O2
    runs-on: ${{ matrix.distro }}
    env:
      CFLAGS: ${{ matrix.arch_flags }} ${{ case(
        matrix.plain == true, '-Wall -Weverything -Werror',
        '-march=native -Wall -Weverything -Werror') }} -fno-lax-vector-conversions
      CXXFLAGS: ${{ matrix.arch_flags }} ${{ case(
        matrix.plain == true, '-Wall -Weverything -Werror',
        '-march=native -Wall -Weverything -Werror') }} -fno-lax-vector-conversions
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - id: cpu
      name: CPU Information
      run: |
        cat /proc/cpuinfo
    - name: Install PPAs for Ubuntu 22.04
      if: ${{ matrix.distro == 'ubuntu-22.04' }}
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo add-apt-repository ppa:savoury1/build-tools
        sudo add-apt-repository ppa:savoury1/display
        sudo add-apt-repository ppa:savoury1/llvm-defaults-16
    - name: Install newer clang
      if: ${{ matrix.version == '21' || matrix.version == '22' }}
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh ${{ matrix.version }}
    - name: Install APT Dependencies
      run: |
        sudo add-apt-repository ppa:stephanosio/ccache
        sudo add-apt-repository ppa:canonical-x/x-staging
        sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa
        sudo apt-get -y --no-install-recommends install gcovr ninja-build pipx \
          clang-${{ matrix.version }} ccache
        pipx install meson==0.55.1
        sudo rm /usr/bin/gcc /usr/bin/g++ /usr/bin/cc /usr/bin/c++
        sudo ln -s "$(command -v clang-${{ matrix.version }})" /usr/bin/cc
        sudo ln -s "$(command -v clang-${{ matrix.version }})" /usr/bin/c++
    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ matrix.version }}-${{ matrix.distro }}-${{ matrix.arch_flags }}
        verbose: 2
    - name: add ccache to the build path
      run: |
        export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
    - name: Configure
      run: meson setup build || (cat build/meson-logs/meson-log.txt ; false)
    - name: Build
      run: meson compile -C build --verbose
    - name: Test
      run: |
        # shellcheck disable=SC2046
        meson test -C build --print-errorlogs $(meson test -C build --list | grep -v emul)
